* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#layout-drawer {
    @media screen  and (min-width:800px) {
        display: none;
    }
}

#desktop-nav {
    display: none;

    @media screen  and (min-width:800px) {
        display: block;
    }
}